COLOR = True

COMPILER = "g++"
LINKER = "g++"
COMMON_CFLAGS = ["-O3", "-Wall",]
LDFLAGS = ["-Xlinker", "--start-group"]

BUILD_DIR = "Build"

ACTIVE_CONFIGURATION = "debug"
CONFIGURATIONS = {
    "debug" : {
	"flags" : COMMON_CFLAGS + ["-g"],
	"buildsubdir" : "Debug",
    },
    "release" : {
	"flags" : COMMON_CFLAGS,
	"buildsubdir" : "Release",
    },
}

LIBRARY_PATHS = []
LIBRARIES = []

MODULES = {
    "main" : {
        "incpaths" : ["system"],
        "defines" : [],
    },
    "system" : {
        "incpaths" : [],
        "defines" : [],
    },
}

APPLICATION_NAME = "fap." + ACTIVE_CONFIGURATION
